body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #51a3a6;
}

#maze {
    border: 2px solid black;
    width: 60%;
    height: 30em;
    background: #abdccd;
}

.row {
    display: flex;
    width: 100%;
    height: 2em;
    white-space: pre;
}

.cell {
    white-space: pre;
    width: 5em;
    height: 2em;
}

.wall {
    background: #5f4237;
}

.player {
    width: 100%;
    height: 100%;
    /* background-image: url('./images/Honeybee.gif'); */

}
/* 
5F4237 brown
6C808B gray blue
51A3A6 background
ABDCCD maze
F4F1C8 cream */
/* Guidance

-Either A) use an absolutely-positioned DIV to represent the player's current position in the maze, or B) have your player DIV appended to a cell DIV for the same reason.
-You need to keep track of (or retrieve on demand) the player's current position in the maze (row index and column index). You could do this one of several ways. You could keep a persistent record of the player's position in, say, a global array or object whose sole job is keeping track of the player's current position. -You could constantly update your map array to reflect your player's movement (move the "S" around). You could keep your indexes in data attributes in your HTML and access them through player DIV's "parentElement" property (in the case of 3B). Or you could do a little math on the player DIV's current position on the screen, relative to the start element's current position on the screen and the size of your cells (in the case of 3A).
-Movement can be performed a couple different ways: In the case of 3A, change the absolute position of the player DIV. Or, in the case of 3B, append the player DIV to the next cell DIV. (You could use "document.querySelector()", and the CSS selector for attributes to get the next cell element by the indexes you set on it via data attributes.)

Requirements

-The player must start on the start square.
-Set up an event handler(s) to move your player DIV around the same way you did for the previous assessment on keyboard events.
-Don't allow the player to move into a wall or outside the boundary of the maze.
-When the player moves onto the finish square, show the user that they have won (don't use console.log or alert for this). */