body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #51a3a6;
}

#maze {
    border: 5px solid black;
    width: 630px;
    height: 525px;
    background: #abdccd;
}

.row {
    display: flex;
    width: 630px;
    height: 35px;
    white-space: pre;
}

.cell {
    white-space: pre;
    width: 30px;
    height: 35px;
}

.wall {
    background: #5f4237;
}

.player {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: relative;
}

.overlay {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    color: chartreuse;
    font-size: 85px;
    justify-content: center;
  }